@charset "UTF-8";

:root{
    --color01: rgb(60, 60, 255);
    --color02: rgb(0, 0, 160);
    --color03: rgb(255, 140, 0);
    --color04: rgb(255, 235, 200);
    --color05: rgb(175, 210, 255);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

#logotype{
    text-align: left;
    margin: auto;
    /* border: 2px solid black; */
}

nav{
    /* border: 2px solid red; */
    text-align: center;
    padding: 30px 10px;
    margin: auto;
}

nav > a{
    color: var(--color01);
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
    
}

nav > a:hover{
    color: var(--color02);
    text-decoration: underline;
}

#imgHeader{
    width: 100vw;
    height: 300px;
    background-image: url(images/filtroDeLinha.png);
    background-size: 100%;
    /* background-position: down middle; */
}

article#quemSomos{
    background-color: var(--color04);
    text-align: justify;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 5vw;
}

article#quemSomos > h1{
    color: var(--color02);
    margin: 0px;
}

main > h1{
    background-color: var(--color02);
    color: white;
    text-align: center;
    padding: 8px;
    margin: 0px;
}

section#showPets{
    background-color: var(--color05);
    text-align: center;
    padding: 30px 5px;
}

section.imgPets{
    display: inline-block;
    width: 210px;
    height: 270px;
    background-color: white;
    margin: 10px;
}