@charset "UTF-8"; /* NEM PRECISO DISSO AGORA */

body{
    font: normal 20px Arial;
    background-color: rgb(136, 29, 88);
    color: white;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}