@charset "UTF-8";

body{
    background-color: rgb(240, 240, 240);
    margin: 0px;
}
main{
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}

form{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

input.inputs{
    width: 100%;
    text-align: left;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}

div.formGroup{
    width: 180px;
    margin: 10px 0px;
}

div#divImcResult{
    min-width: 40px;
    max-width: 5%;
}

#imcResult{
    text-align: center;
}

