@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
.themeModes{
    padding: 6px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.5);
}

#btnDark{
    background-color: rgb(30, 30, 30);
    color: white;
    margin-left: 5px;
}

body.light{
    background-color: rgb(230, 230, 230);
    color: black;
}

body.light button{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

body.dark{
    background-color: rgb(20, 20, 20);
    color: white;
}