body{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.center{
    text-align: center;
}